:root {
    --xt-bg: #1e1e2e56;
    --xt-fg: #cdd6f4;
    --cat-base: #1e1e2e;
    --cat-surface1: #45475a;
    --cat-blue: #89b4fa;
    --cat-green: #a6e3a1;
    --cat-red: #f38ba8;
    --cat-subtext: #a6adc8;
    --cat-subtext-alt: #bac2de;
    --cat-sapphire: #74c7ec;
    --cat-subtext-opaque: #a6adc842;
    --app-color: #d7dae0;
}